@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

header {
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #f0f8ff;
  position: relative;
}

.title-bar {
  height: 60%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding-left: 0.4rem;
}

.logo-img {
  height: 60%;
}

.menu-bar {
  display: flex;
  align-items: center;
  height: 40%;
  padding-left: 0.5rem;
}

.menu-option {
  position: relative;
  margin-left: 1rem;
  font-size: 0.9rem;
  user-select: none;
}

.menu-btn {
  padding: 0.2rem 0.5rem;
}

.menu-btn:hover {
  background-color: rgba(139, 190, 214, 0.3);
  cursor: pointer;
}

.menu-items {
  position: absolute;
  background-color: aliceblue;
  list-style: none;
  top: 1.5rem;
  width: 8rem;
  z-index: 1000;
  display: none;
  font-size: 13px;
  border: 1px solid lightgray;
}

.menu-option:hover .menu-items {
  display: block;
}

.menu-items li {
  padding: 0.3rem 0.5rem;
}

.menu-items li:hover {
  background-color: lightgrey;
  cursor: pointer;
}

main {
  background-image: url(./VLC_-_main\ \(3\).png);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 3.5rem);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video {
  height: 95%;
  max-width: 95%;
}

.toast {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.toast.show {
  opacity: 1;
}

